<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span8">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      </br>
      <p><b>You are authorized to use the following vehicles:</b></p>
      <table>
        <tr>
          <th>Year</th>
          <th>&nbsp</th>
          <th>Make</th>
          <th>&nbsp</th>
          <th>Model</th>
          <th>&nbsp</th>
          <th>License Plate</th>
          <th></th>
          <th>&nbsp</th>
          <th></th>
        </tr>

      <% @authorized_vehicles.each do |vehicle|%>
        <tr>
          <td><%= vehicle.year %></td>
          <th>&nbsp</th>
          <td><%= vehicle.make %></td>
          <th>&nbsp</th>
          <td><%= vehicle.model %></td>
          <th>&nbsp</th>
          <td><%= vehicle.license_plate %></td>
          <th>&nbsp</th>
          <td><%= link_to 'Show', vehicle %></td>
        </tr>
      <% end %>
      </table>

    </section>
  </aside>
</div>

